body { 
  margin: 0; 
  padding: 0; }

h1 { 
  margin: 10px; 
  font-size: 25px;
  font-family: "Orbitron";
  color: black}

h2 { 
  margin: 10px; 
  font-size: 18px; 
  font-family: "Orbitron";
  color: black}

h3 { 
  margin: 10px;
  font-size: 16px;
  font-family: "Orbitron";
  color: black} 

h4 { 
  margin: 10px;
  font-family: "Orbitron";
  color: white
}

a {
  color: #f768a1;}

h5 { 
  margin: 10px;
  font-size: 16px;
  font-family: "Orbitron";
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.5px}

h6 {
  font-size: 10px;
  margin: 10px;
  padding: 5px;
  font-family: "Orbitron";
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

p { 
  margin: 10px;
  font-family: "Orbitron";
  color: black} 

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    #feebe2,
    #fcc5c0,
    #fa9fb5,
    #f768a1,
    #c51b8a,
    #7a0177);
  font-family: "Orbitron";}

#map {
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 0;}

.map-overlay { 
  position: absolute;  
  right: 0; 
  background: #f768a1;
  border-radius: 25px;
  margin-right: 20px; 
  padding: 5px;
  font-family: "Orbitron"; 
  font-optical-sizing: auto; 
  font-weight: 400; 
  font-style: normal; 
  border-style: solid} 

#features { 
  margin-top: 20px; 
  width: 425px} 

#legend { 
  padding: 10px 12px 10px 12px; 
  font-family: "Orbitron";
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  line-height: 20px; 
  height: 100px;
  bottom: 30px; 
  width: 200px;} 

.legend-bar {
  width: 100%;
  height: 20px;
  margin: 8px 0;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    #feebe2,
    #fcc5c0,
    #fa9fb5,
    #f768a1,
    #c51b8a,
    #7a0177);
  border-style: solid}

.legend-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;}

mapboxgl-ctrl-geocoder { 
    width: 20px !important;}

.mapboxgl-ctrl-group {
  background: #f768a1 !important;
  border-radius: 12px !important;
  overflow: hidden;
  border-style: solid}

.mapboxgl-ctrl-geocoder {
  background: #f768a1;
  width: 100%;
  border-radius: 12px;
  font-family: "Orbitron";
  color: black;
  padding: 5px 5px 10px 10px;
  border-style: solid}

.mapboxgl-ctrl-geocoder input {
  color: black;
  background: white;
  font-family: "Orbitron"}

.suggestions {
  background: white;
  list-style: none;
  margin: 0;
  border-radius: 12px;
  padding: 0;}

.suggestions li {
  color: black;
  border-radius: 12px;
  padding: 5px 7px;}

.suggestions li:hover {
  background: lavenderblush;
  padding: 8px 12px;
  cursor: pointer}

.mapboxgl-popup-content {
  background: #7a0177 !important;
  border-radius: 10px !important;
  line-height: 15px !important;
  width: 100%;
  border-style: solid;
  color: white}